.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 100vh;
}

.container {
    width: 350px;
    height: auto;
}

.paragraph {
    font-family: var(--sans), sans-serif;
    font-size: 20px;
    justify-content: left;
    color: #000000;
    margin: 0;
    padding: 10px 0 0 5px;
}