.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: var(--backgroud-color);
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    margin: 0;
    width: 500px;
    height: auto;
    font-family: var(--sans), sans-serif;
}

.boxCenter {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: black;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.paragraph {
    font-size: 20px;
    margin: 20px 20px 10px;
}