.button {
    background-color: #dcdcdc;
    font-family: var(--sans), sans-serif;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: auto;
    color: black;
}

.button:hover {
    background-color: #bbbaba;
    cursor: pointer;
}

.button:active {
    background-color: #4f4f4f;
}