.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
    background-color: transparent;
    height: 80px;
    min-width: 100vw;
    box-sizing: border-box;
    font-family: var(--sans), sans-serif;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    flex: 1;
    margin: 30px;
    width: 100%;
}