.input {
    font-family: var(--sans), serif;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 30px;
    width: 100%;
    color: black;
    padding: 0 5px;
    box-sizing: border-box;
}

.boxPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.inputDisabled {
    font-family: var(--sans), serif;
    background-color: #f0f0f0;
    border-color: #9e9e9e;
    border-width: 2px;
    border-style: solid;
    height: 30px;
    width: 100%;
    color: #9e9e9e;
    padding: 0 5px;
    box-sizing: border-box;
}

.button {
    background-color: transparent;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 30px;
    width: 30px;
    padding: 5px;
    box-sizing: border-box;
}